{% extends 'landing/base.html' %} {% block content%}


<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">Connect with Friend! </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            A friend is one who overlooks your broken fence and admires the flowers in your garden.” “A good friend is like a four-leaf clover: hard to find and lucky to have
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'account_signup' %}" class="btn btn-primary mr-2">Register</a>
            <a href="{% url 'account_login' %}" class="btn btn-success">Login</a>
        </div>
    </div>

    {% endblock content %}